:root{
    --primary: #262626;
    --secondary: #515151;
    --tertiary: #000000;
    --container: #404040;
    --light: #c0c0c0c8;
}

body{
    padding: 0;
    margin: 0;
}

.hidden{
    display: none;
}

/*Header*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-image: url(../img/Pattern.png);
    z-index: 10;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px white;
}

.user_side{
    gap: 20px;
}

.bell{
    filter: invert(100%);
}

header div img{
    border-radius: 50px;
}

/*Estilo para el menu desplegable del perfil del usuario*/

.container-submenu{
    position: absolute;
    border-radius: 5px;
    width: 19%;
    top: 105%;
    left: 80%;
}

.card-user-sub-menu{
    position: relative;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
    width: 100%;
}

.card-user-sub-menu .card-content-user-sub-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 13px;
}

.card-user-sub-menu .img-user-sub-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-top: 0%;
    background-color: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.25);
}


.card-user-sub-menu .img-user-sub-menu img{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1-card-user-sub-menu{
    position: absolute;
    width: 100%;
    height: 25%;
    border-radius: 20px 20px 0 0;
    background-image: url(../img/Pattern.png);
}

.card-user-sub-menu .name-sub-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.card-user-sub-menu .name-sub-menu .name{
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.name-proffesion .proffesion{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.card-user-sub-menu .button-sub-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 120.3%;
    margin-top: 10%;
    margin-bottom: -15px;
}

.card-user-sub-menu .button-sub-menu button{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: rgb(253, 253, 253);
    transition-duration: 1s;
}

.card-user-sub-menu .button-sub-menu button:hover{
    background-color: rgba(128, 128, 128, 0.432);
}

/*Tabla y formularios de edicion*/

.tableform{
    position: absolute;
    margin: 5% 20% 0% 20%;
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tableContainer{
    position: relative;
    width: 100%;
    height: 70vh;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

.offertableContainer{
    position: absolute;
    margin-top: 8%;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tituloTabla{
    margin-bottom: 2%;
    opacity: 0;
    position: relative;
}

.table{
    position: relative;
    width: 80%;
}

.trFila:hover{
    filter: invert(100%);
    transition: 0.2s;
    background-color: #000000;
    cursor: pointer;
}

.theade{
    background-color: #000000;
}

.deactivated_user{
    color: red;
}

.deactivated_offer{
    color: red;
}


/* Estilos para el recuadro de edicion  de oferta */
.update_offer{
    position: relative;
    width: 50%;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    padding: 2% 3% 2% 3%;
    margin: 0 auto;
}

.update_offer textarea{
    width: 100%;
    height: 400px;
}

.update_offer #edit_offer_tittle{
    width: 100%;
}

.update_offer img{
    border-radius: 20px;
    height: 300px;
    width: 100%;
}

.edit-form-column{
    display: flex;
    flex-direction: row;
}

.edit_form_row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-inputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.update_offer #edit_offer_payment{
    width: 100%;
}

.update_offer #edit_offer_fields{
    width: 100%;
}

.update_offer #edit_offer_state{
    width: 100%;
}

/*formulario de edicion de usuarios*/
.update_user{
    position: relative;
    width: 100%;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 2%;
    margin: 0% 0% 2% 0%;
}

.user-img-edit{
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
}

.update_user input{
    width: 250px;
}

.edit_form_user_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_container{
    display: flex;
    flex-direction: column;
}


.logout-btn{
    display: none;
    background-color: rgb(228, 228, 228);
    position: absolute;
    width: 9%;
    height: 50%;
    right: -1%;
    top: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.logout-btn:hover{
    background-color: gray;
    color: white;
}

.user_img{
    cursor: pointer;
}

/*Info*/

#Info{
    position: fixed;
    width: 16%;
    height: 100%;
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 5%;
    background-image: url(../img/Pattern.png);
    border-left-color:  rgb(110, 110, 110);
    color: white;
}

.infoTabla{
    list-style: none;
    list-style-type: none;
    width: 100%;
}

#Info ul li{
    position: relative;
    list-style: none;
    list-style-type: none;
    margin-top: 3%;
}

ol{
    position: relative;
    width: 100%;
    display: flex;
    right: 20%;
    gap: 5px;
}

.parent-tag{
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #f5f5f5;
    width: 80%;
    padding-top: 2%;
    color: #000000;
}

.parent-tag:hover{
    cursor: pointer;
    background-color: rgb(97, 97, 97);
    color: white;
    padding-left: 1%;
    padding-right: 3%;
    transition-duration: 0.2s;
}

.parent-tag:target{
    background-color: aqua;
}

.dropList{
    position: absolute;
    width: 30px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.droplist:visited{
    background-color: #262626;
    color: white;
    width: 300px;
}

.sub-tag{
    display: none;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #f5f5f5;
    width: 75%;
    padding-top: 2%;
}

.sub-tag:hover{
    cursor: pointer;
    background-color: rgb(97, 97, 97);
    color: white;
    padding-left: 1%;
    padding-right: 3%;
    transition-duration: 0.2s;
}

.fff ul{
    position: absolute;
    width: 20%;
    margin-top: 44%;
    margin-left: 80%;
}

.fff button{
    position: relative;
    width: 30%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

/*Ofertas*/

#offerTable{
    display: none;
}