:root{
    --primary: #262626;
    --secondary: #515151;
    --tertiary: #000000;
    --container: #404040;
    --light: #c0c0c0c8;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(/img/Pattern.png);
}

/*Header*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #2c2b2b;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 1px;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.user_side{
    gap: 10px;
}

.bell{
    filter: invert(100%);
}

header div img{
    border-radius: 50px;
}

/*Estilo para el menu desplegable del perfil del usuario*/

.container-submenu{
    position: absolute;
    border-radius: 5px;
    width: 19%;
    top: 105%;
    left: 80%;
}

.card-user-sub-menu{
    position: relative;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
    width: 100%;
}

.card-user-sub-menu .card-content-user-sub-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 13px;
}

.card-user-sub-menu .img-user-sub-menu{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    padding: 3px;
    margin-top: 0%;
    background-color: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.25);
}


.card-user-sub-menu .img-user-sub-menu img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.box1-card-user-sub-menu{
    position: absolute;
    width: 100%;
    height: 25%;
    border-radius: 20px 20px 0 0;
    background-color: rgba(36, 39, 41, 0.315);
}

.card-user-sub-menu .name-sub-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.card-user-sub-menu .name-sub-menu .name{
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.name-proffesion .proffesion{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.card-user-sub-menu .button-sub-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 120.3%;
    margin-top: 10%;
    margin-bottom: -15px;
}

.card-user-sub-menu .button-sub-menu button{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: rgb(253, 253, 253);
    transition-duration: 1s;
}

.card-user-sub-menu .button-sub-menu button:hover{
    background-color: rgba(128, 128, 128, 0.432);
}

/*content-container*/
.barra {
    width: 90%;
    height: 1px;
    background-color: rgb(36, 36, 36);
    color: #fff;
    text-align: center;
}

.form-container{
    position: relative;
    padding-top: 4%;
    width: 50%;
    border-radius: 5px;
    color: white;
    margin-left: 25%;
}

.form-container h2{
    color: #000000;
}

.form-container h5{
    color: #000000;
}

.form-container p{
    color: #000000;
}

.form-cover{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.699);
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.767);
}

.cover{
    width: 120%;
    height: 100%;
    margin-left: -10%;
    display: flex;
}

.inputs{
    position: relative;
    width: 90%;
}

.two-inputs{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.two-inputs input{
    width:  100%;
    padding: 3px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    outline: none;
    background: transparent;
}

.form-cover .two-inputs input:focus,
.form-cover .two-inputs input:focus{
    top: 0;
    left: 20px;
    color: #000000;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 0 0 #404040;
}

.two-inputs input::placeholder{
    color: #000000;
}

.two-inputs textarea{
    background-color: transparent;
    border-color: black;
}

.two-inputs textarea:focus{
    background-color: transparent;
}

/*drop-area-tags*/

.drop-area-tags{
    width: 50%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    padding: 2%;
    border-color: #000000;
    border-radius: 5px;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-area-tags{
    width: 100%;
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    padding: 2%;
    border-color: #000000;
    border-radius: 5px;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.drop-area-tags ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*tags-container*/

.tags-container{
    width: 50%;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    border-color: #000000;
    border-radius: 5px;
}

.tags-container ul{
    margin-left: -10%;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.tag{
    height: min-content;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.274);
    color: #000000;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
}

.tag:hover{
    cursor: grab;
    background-color: rgb(97, 97, 97);
    color: white;
    padding-left: 0%;
    padding-right: 0%;
    transition-duration: 0.2s;
}

.tag-active{
    cursor: pointer;
    background-color: rgb(97, 97, 97);
    color: white;
}

.create-button{
    width: 90%;
    background-color: darkblue;
    border-radius: 10px;
}

.create-button:hover{
    background-color: rgb(8, 8, 58);
}
