:root {
    --primary: #3a3a3a00;
    --secondary: #515151;
    --tertiary: #000000;
    --container: #404040;
    --light: #aaaaaac8;
}

body {
    padding: 0;
    margin: 0;
    background-color: #262626;
}

.main_screen{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/Pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Header*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    /*
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 1px;*/
    z-index: 10;    
}

/*Form*/

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 490px;
    padding: 5px 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.699);
    box-sizing: border-box;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, .6);
    border-radius: 10px;
    z-index: 10;
    transition: 0.5s;
}

.login-box:hover{
    width: 500px;
    background: rgba(255, 255, 255, 0.863);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
}
.login-box .user-box {
    position: relative;
    display: flex;
    gap: 20px;
}
.login-box .user-box input {
    width:  100%;
    padding: 0px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.login-box .user-box select  {
    width:  100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
.login-box .user-box input:focus -label,
.login-box .user-box input:focus -label {
    top: -20px;
    left: 0;
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.login-box form button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 0 auto;
    transition: .5%;
    letter-spacing: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: transparent;
}

.form-checkbox{
    position: absolute;
    bottom: 0%;
}

.login-box form p {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -10%;
}
.login-box form a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.login-box button:hover {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4,
}
.login-box a span {
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,
    transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.userimg{
    display:none;
}

.cuenta-creada{
    position: relative;
    margin-top: 10%;
}

.two{
    display: flex;
    gap: 30px;
}

.two select{
    width:  100%;
    padding: 10px 0;
    font-size: 16px;
    color: #00000094;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.two-btn{
    display: flex;
    justify-content: space-between;
}

.sectionForm{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formst{
    position: relative;
}

.formnd{
    position: relative;
}

/*login img*/


form{
    display: inline;
}

/*imgbig*/

.imgbig{
    position: absolute;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    left: 42.5%;
    top: 11%;
    width: 50%;
    height: 80%;
    background-color: #03e9f4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    box-shadow: 5px 5px 50px 10px black;
    border-width: 1px;
    background-image: url(../img/Background_Pagina_Inicial.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.imgbig div {
    width: 22%;
    height: 35%;
}

.imgbig a{
    font-size: 70px;
}


.hidden{
    display: none;
}

/*Footer*/

footer div{
    position: absolute;
    display: grid;
    width: 5%;
    height: 60px;
    background-color: transparent;
    left: 93%;
    border-radius: 100%;
    bottom: 5%;
}

footer div svg{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 95%;
    height: 40px;
    left: 20%;
    top: 50%;
    transition: 0.5s;
}

footer div svg:hover{
    cursor: pointer;
    width: 100%;
    height: 45px;
}