:root {
    --primary: #262626;
    --secondary: #515151;
    --tertiary: #000000;
    --container: #404040;
    --light: #aaaaaac8;
}

body {
    padding: 0;
    margin: 0;
}

.main_screen{
    background-color: var(--primary);
    height: 100vh;
    width: 100vw;
    background-image: url(../img/Pattern.png);
}

/*Header*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    z-index: 10;    
}

/*Form*/

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.699);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    transition: 0.5s;
}

.login-box:hover{
    width: 470px;
    padding: 45px;
    background: rgba(255, 255, 255, 0.863);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width:  90%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 40px;
    margin-left: 5%;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 10px 0;
    font-size:  16px;
    color: #000000;
    pointer-events: none;
    transition: 0.5%;
}


.login-box form button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5%;
    margin-left: 33%;
    letter-spacing: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: transparent;
}
.login-box form p {
    color: rgb(0, 0, 0);
    text-align: center;
}
.login-box form a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.login-box button:hover {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4,
}
.login-box a span {
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,
     transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    margin-top: -4.5%;
    z-index: 10;    
}

footer div{
    position: absolute;
    display: grid;
    width: 5%;
    height: 60px;
    background-color: transparent;
    left: 94%;
    border-radius: 100%;
    bottom: 30%;
}

footer div svg{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 30px;
    left: 20%;
    top: 40%;
    transition: 0.5s;
}

footer div svg:hover{
    cursor: pointer;
    width: 100%;
    height: 35px;
}