<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/editar_mipyme.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <title>Emprendev | Editar datos</title>
</head>
<body>
    <!--Navbar-->
    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm">
          <div class="navbar-brand"><img src="svg/Logo.svg" alt="" width="30" height="30"></div>
          <a href="catalogo_devs.html" class="text-decoration-none">
            <div class="navbar-brand text-light">Emprendev</div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#register&login"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="user_side container-fluid justify-content-end">
            <form class="form-inline my-2 my-lg-0">
            </form>
            <img onclick="OpenPerfilSubMenu()" class="session_user_imgProfile" class="user_img" alt="" width="40" height="40">
            <div id="user-sub-menu" class="container-submenu">
              <div class="card-user-sub-menu border-0">
                <div class="box1-card-user-sub-menu"></div>
                <div class="card-content-user-sub-menu">
                  <div class="img-user-sub-menu">
                    <img class="session_user_imgProfile" alt="">
                  </div>
                  <div class="name-sub-menu">
                    <div>
                      <span class="name session_user_firstName">Nombre</span>
                      <span class="name session_user_lastName">Apellido</span>
                    </div>
                    <span class="proffesion session_user_role">Rol</span>
                  </div>
                  <div class="button-sub-menu">
                    <a href="perfil_mipyme.html"><button>Ver perfil</button></a>
                    <a href="terminosycondicones.html"></a><button>Terminos y condiciones</button>
                    <button id="logout_btn">Cerrar sesion</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>

    <div class="container-fluid form-container content-container">
        <div class="container">
            <div class="form-card">
                <div class="cover">
                    <div class="form-container">
                        <form action="" method="post" id="form-mipyme">
                            <div class="form-cover"> 
                                <h2 style="margin-top: 0%;">Informacion Personal</h2>
                                <div class="two-inputs">
                                  <input id="id" type="number" hidden>
                                  <input id="firstName" type="text" placeholder="Primer Nombre" name="nombre" required="" maxlength="20"
                                      class="form-control first-name">
                                  <input id="secondName" type="text" placeholder="Segundo Nombre" name="segundo_nombre" class="form-control second-name" maxlength="20">
                              </div>
                              <div class="two-inputs">
                                  <input id="lastName" type="text" placeholder="Primer Apellido" name="apellido" required=""
                                      class="form-control last-name">
                                  <input id="lastName2" type="text" placeholder="Segundo Apellido" name="segundo_apellido" class="form-control last-name2">
                              </div>
                              <div class="two-inputs">
                                  <input id="docType" type="text" placeholder="Tipo de Documento" name="td" required="" disabled
                                      class="form-control doc-type">
                                  <input id="docNum" type="text" placeholder="Numero de Documento" name="id_usuario" required=""
                                      class="form-control doc-num">
                              </div>
                              <div class="two-inputs">
                                  <input id="birthDate" type="date" placeholder="Fecha de nacimiento" name="fecha_nac" required=""
                                      class="form-control birth-date">
                                  <input id="role" type="text" placeholder="Rol" name="rol" required="" class="form-control role" disabled>
                              </div>
                              <div class="two-inputs">
                                  <input id="phoneNum" type="text" placeholder="Telefono" name="telefono" required=""
                                      class="form-control phone-num">
                                  <input id="address" type="text" placeholder="Direccion" class="form-control address" maxlength="50">
                              </div>
                              <div class="two-inputs">
                                  <input id="email" type="text" placeholder="Correo" name="correo" required="" maxlength="50"
                                      class="form-control email">
                              </div>
                                <h2 style="margin-top: 1%;" >Informacion Del Negocio</h2>
                                <div class="two-inputs">
                                    <input id="nameBusiness" type="text" placeholder="Nombre del negocio" class="form-control" name="titulo_Oferta">
                                </div>
                                <div class="two-inputs">
                                    <input id="cityBusiness" type="text" placeholder="Ciudad de ubicacion del negocio" class="form-control" name="titulo_Oferta">
                                    <input id="addressBusiness" type="text" placeholder="Direccion del negocio" class="form-control" name="titulo_Oferta">
                                </div>
                                <div class="two-inputs">
                                    <textarea id="descriptionBusiness" placeholder="Descripción" rows="8" cols="100" class="form-control" name="desc" style="margin-top: 1%;" maxlength="850"></textarea>
                                </div>
                                <div class="barra"></div>
                                <div class="row mb-0 create-button">
                                    <button class="btn" style="color: white;" onclick="validarFormulario()">Guardar</button>
                                </div>
                                <div class="barra"></div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="js/session.js"></script>
<script src="js/editar_mipyme.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>