<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Emprendev | Inicio</title>
</head>
<body>
    <!-- Navbar -->
    <header id="navbar">
        <div class="brand">
            <div class="brandlogo">
                <img src="svg/Logo.svg" alt="">
            </div>
            <div class="brandtext">
                <p>Emprendev</p>
            </div>
        </div>
        <div class="register">
            <div class="userregister">
                <a href="register.html"><button>Regístrate</button></a>
            </div>
            <div class="line"></div>
            <div class="userlogin">
                <a href="Login.html"><button>Iniciar sesión</button></a>
            </div>
        </div>
    </header>
    
    <!-- Main Screen -->
    <section id="main">
        <div class="overlay">
            <div class="title">
                <div id="spinner"> 
                    Loading...
                </div>
                <div id="carousel">
                    <h1>BIENVENIDO A EMPRENDEV</h1>
                    <h1>INNOVA</h1>
                    <h1>COLABORA</h1>
                    <h1>EMPRENDE</h1>
                    <h1>TRABAJA</h1>
                </div>  
            </div>
        </div>
    </section>
    <section id="info">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="info-text col-md-6">
                <h2 class="featurette-heading fade-in-right text-light">¿Qué es Emprendev?<span class="text-muted">.</span></h2>
                <br>
                <p class="lead fade-in-right text-light">Emprendev es una solución que busca la interacción entre mipymes y desarrolladores mediante perfiles 
                    laborales y ofertas propuestas por los mipymes, facilitando la búsqueda de empresarios pequeños que pueden requerir la ayuda de empleados dedicados a 
                    áreas de tecnología para facilitar su crecimiento mutuo, visibilidad en el mercado laboral y comienzo en el mercado digital.</p>
                <br>
                <p class="lead fade-in-right text-light">También permite a los desarrolladores de niveles junior encontrar trabajos de una manera más eficaz al encontrar en nuestro
                    catálogo ofertas que se ajusten completamente a sus habilidades.
                </p>
            </div>
            <div class="col-md-5">
                <img src="img/posible imagen 1.jpg" style="border-radius: 20px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto fade-in-left" width="740" height="500" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" />
                </img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="info-text col-md-6 order-md-2">
                <h2 class="featurette-heading fade-in-left text-light">¿Por qué Emprendev?<span class="text-muted">.</span></h2>
                <br>
                <p class="lead fade-in-left text-light">El mercado laboral está cambiando rápidamente, y cada vez son más los desarrolladores que buscan trabajo a través de internet. 
                    Sin embargo, a pesar de la existencia de numerosas plataformas y sitios web de búsqueda de empleo en línea, encontrar un trabajo adecuado sigue siendo un desafío 
                    debido a la ineficiencia de algunas de estas soluciones, presentando ciertas dificultades, como pueden ser:
                </p>
                <p class="lead fade-in-left text-light"><i>Saturación de información:</i> Algunas de estas soluciones no se enfocan en áreas específicas de empleo. Esto hace que la navegación o búsqueda de información 
                    pueda ser complicada y, en ocasiones, inconsistente.
                </p>
                <p class="lead fade-in-left text-light">
                    <i>Falta de fiabilidad:</i> En Colombia, muchas de estas soluciones pueden presentar pérdida de información y registros fantasmas referentes a usuarios y puestos de trabajo postulados en dichos 
                    aplicativos, haciendo que, en algunas ocasiones, la veracidad de su información sea puesta en duda por sus mismos usuarios.
                </p>
            </div>
            <div class="col-md-5">
                <img src="img/resolucion-problemas.jpg" style="border-radius: 20px; height: 70%;" class="m-md-1 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto fade-in-right" width="730" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" />
                </img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="info-text col-md-6 h-75">
                <h2 class="featurette-heading fade-in-right text-light">¿Cómo?<span class="text-muted">.</span></h2>
                <br>
                <p class="lead fade-in-right text-light">Este sistema te permite publicar ofertas de empleo personalizadas a las necesidades de tu proyecto y 
                    conectar con talento joven en busca de experiencia y oportunidades para destacar. Da a conocer tu empresa, encuentra el desarrollador ideal 
                    y potencia tu negocio en la era digital. ¡Publica tu oferta ahora y da un paso adelante!</p>
            </div>
            <div class="col-md-5">
                <img src="img/reunion.avif" style="border-radius: 20px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto fade-in-left" width="740" height="300" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" />
                </img>
            </div>
        </div>

        <hr class="featurette-divider">

    </section>
    <footer id="footer">
        <div class="line"></div>
        <div class="text-light">
            <a href="terminosycondicones.html"><span>Términos y condiciones</span></a>
        </div>
        <div class="line"></div>
        <div class="text-light">
            <a href="terminosycondicones.html"><span>Política de privacidad</span></a>
        </div>
        <div class="line"></div>
    </footer>
</body>
</html>
<script defer src="js/index.js"></script>
<script defer src="js/animation.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
