<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Emprendev | Inicio</title>
</head>
<body>
    <!--Navbar-->
    <header id="navbar">
        <div class="brand">
            <div class="brandlogo">
                <img src="svg/Logo.svg" alt="">
            </div>
            <div class="brandtext">
                <p>Emprendev</p>
            </div>
        </div>
        <div class="register">
            <div class="userregister">
                <a href="register.html"><button>Registrate</button></a>
            </div>
            <div class="line"></div>
            <div class="userlogin">
                <a href="Login.html"><button>Iniciar sesión</button></a>
            </div>
        </div>
    </header>
    
    <!--Main Screen-->
    <section id="main">
        <div class="overlay">
            <div class="title">
                <div id="spinner"> 
                    Loading...
                </div>
                <div id="carousel">
                    <h1>BIENVENIDO A EMPRENDEV</h1>
                    <h1>COOLABORA</h1>
                    <h1>TRABAJA</h1>
                    <h1>Hola</h1>
                    <h1>SEBASTIAN</h1>
                </div>  
            </div>
        </div>
    </section>
    <section id="info">
        <hr class="featurette-divider">

            <div class="row featurette">
                <div class="info-text col-md-6">
                    <h2 class="featurette-heading fade-in-right text-light">¿Que es Emprendev?<span class="text-muted">.</span></h2>
                    <br>
                    <p class="lead fade-in-right text-light">Emprendev es una plataforma online diseñada para ayudar a los emprendedores (Mipymes) con ganas de expandir su negocio al mundo digital, dandoles la oportunidad de contactar con desarrolladores certificados para lograr sus objetivos.</p>
                    <br>
                    <p class="lead fade-in-right text-light">Tambien permite a los desarrolladores encontrar un trabajo, probar sus habilidades y adentrarse en el mundo laboral gracias a las ofertas de empleo propuestas por los Mipymes.</p>
                </div>
                <div class="col-md-5">
                    <img src="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto fade-in-left" width="500" height="500" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" />
                    </img>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="info-text col-md-6 order-md-2">
                    <h2 class="featurette-heading fade-in-left text-light">¿Por Que Emprendev?<span class="text-muted">.</span></h2>
                    <br>
                    <p class="lead fade-in-left text-light">Según el ministerio de trabajo colombiano (mintrabajo) el 90% de las empresas registradas en colombia son Mipymes, y el 60% de estas desaparecen despues de 3-5 años, una de las causas principales es el desconocimiento acerca del mercado digital.</p>
                    <br>
                    <p class="lead fade-in-left text-light">Ademas, muchos desarrolladores no saben la manera de expresar sus ideas o financiar sus proyectos, al mismo tiempo, muchos emprendedores pueden tener ideas innovadoras, pero no poseen los conocimientos técnicos para darlas a conocer en el mercado.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto fade-in-right" width="500" height="500" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" />
                    </img>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="info-text col-md-6">
                    <h2 class="featurette-heading fade-in-right text-light">¿Como?<span class="text-muted">.</span></h2>
                    <br>
                    <p class="lead fade-in-right text-light">en Emprendev el mipyme podra ofrecer ofertas de empleo a los cuales los desarrolladores pueden aplicar y contribuir con la causa.</p>
                </div>
                <div class="col-md-5">
                    <img src="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto fade-in-left" width="500" height="500" xmlns="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" />
                    </img>
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </section>
    <footer id="footer">
        <div class="text-info"></div>
        <div class="line"></div>
        <div class="text-info"></div>
        <div class="line"></div>
        <div class="text-info"></div>
    </footer>
</body>
</html>
<script defer src="js/index.js"></script>
<script defer src="js/animation.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>