<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">

    <title>Emprendev | Inicia Sesión</title>
</head>

<body>

    <!--Navbar-->
    <header class="container-fluid justify">
        <nav class="navbar navbar-expand-sm">
            <div class="navbar-brand"><img src="svg/Logo.svg" alt="" width="50" height="50"></div>
            <a href="index.html" class="text-decoration-none"><div class="navbar-brand text-light">Emprendev</div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#register&login" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <!-- Main Screen -->
    <section class="main_screen">
        <div class="img_login">

        </div>
        <div class="login-box form button">
            <h2>Iniciar Sesión</h2>

            <form method="" action="">
                <div class="user-box">
                    <input class="input" type="text" name="correo" placeholder="Correo" maxlength="60">
                </div>
                <div class="user-box">
                    <input class="input" type="password" name="contrasena" placeholder="Contraseña" maxlength="26">
                </div>
                <button type="submit" class="btn" name="BotonIniciar" value="Iniciar Sesión">Iniciar</button>
                <br><br>
                <p>¿Olvidó su contraseña? <a href="sendEmail.html" class=""><b>Haz clic aquí</b></a></p>
                <p>¿No tienes una cuenta? <a href="register.html" class=""><b>¡Crea una!</b></a></p>
            </form>
        </div>
    </section>
</body>

<!-- Links de JavaScript -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="js/login.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
