<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/oferta.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <title>Emprendev | Crear oferta</title>
</head>
<body>
    <!--Navbar-->
    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm">
          <div class="navbar-brand"><img src="svg/Logo.svg" alt="" width="30" height="30"></div>
          <a href="catalogo.php" class="text-decoration-none">
            <div class="navbar-brand text-light">Emprendev</div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#register&login"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="user_side container-fluid justify-content-end">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" list="keywords">
            </form>
            <img onclick="OpenPerfilSubMenu()" class="session_user_imgProfile" class="user_img" alt="" width="40" height="40">
            <div id="user-sub-menu" class="container-submenu">
              <div class="card-user-sub-menu border-0">
                <div class="box1-card-user-sub-menu"></div>
                <div class="card-content-user-sub-menu">
                  <div class="img-user-sub-menu">
                    <img class="session_user_imgProfile" alt="">
                  </div>
                  <div class="name-sub-menu">
                    <div>
                      <span class="name session_user_firstName">Nombre</span>
                      <span class="name session_user_lastName">Apellido</span>
                    </div>
                    <span class="proffesion session_user_role">Rol</span>
                  </div>
                  <div class="button-sub-menu">
                    <a href="perfil_mipyme.html"><button>Ver perfil</button></a>
                    <a href="terminosycondicones.html"></a><button>Terminos y condiciones</button>
                    <button id="logout_btn">Cerrar sesion</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>

    <!--Offert-->
    <form action="" method=""></form>
    <div class="container-fluid form-container content-container">
        <div class="container">
            <div class="form-card">
                <div class="cover">
                    <div class="col-md-8 form-container">

                        <form id="offer_form" action="" method="">
                            <div class="form-cover">
                                <h2 style="margin-top: -6%;">Crear Oferta</h2>
                                <p>Fotos</p>
                                <div class="container">
                                    <div class="drop-area" data-index="1">
                                        <input type="button" style="font-size: 30px;" class="subir-foto" value="+">
                                        <input type="file" name="Images1[]" id="photo_input_1" hidden>
                                    </div>
                                    <div class="drop-area" data-index="2">
                                        <input type="button" style="font-size: 30px;" class="subir-foto" value="+">
                                        <input type="file" name="Images2[]" id="photo_input_2" hidden>
                                    </div>
                                    <div class="drop-area" data-index="3">
                                        <input type="button" style="font-size: 30px;" class="subir-foto" value="+">
                                        <input type="file" name="Images3[]" id="photo_input_3" hidden>
                                    </div>
                                    <div class="drop-area" data-index="4">
                                        <input type="button" style="font-size: 30px;" class="subir-foto" value="+">
                                        <input type="file" name="Images4[]" id="photo_input_4" hidden>
                                    </div>
                                </div>

                                
                                
                                <div class="inputs">
                                    <input id="card_title_input" type="text" placeholder="Título de la oferta" required class="form-control" name="titulo_oferta" oninput="CardPreviewTitle()" maxlength="60">
                                    <textarea id="card_desc_input" placeholder="Descripción de la oferta" rows="4" cols="50" class="form-control" name="desc_oferta" oninput="CardPreviewDesc()" style="margin-top: 1%;" maxlength="500"></textarea>
                                </div>
                                <div class="two-inputs">
                                    <input id="card_pago_input" type="text" placeholder="$ pago" required class="form-control input-border" name="pago" oninput="CardPreviewPago()" maxlength="8">
                                    <input id="offer_fields" type="text" placeholder="Cupos (empleados)" class="form-control input-border" name="cupos" maxlength="2">
                                </div>
                                <h3>Tags</h3>
                                <div class="tags-container">
                                    <ul id="tags-container">
                                        <!-- Los tags se agregarán aquí por JavaScript -->
                                    </ul>
                                </div>
                                <div id="drop-area-tags" class="drop-area-tags"></div> 
                                <div class="row mb-0 create-button">
                                    <button type="button"class="btn" id="submit_offer" style="color: white;" onclick="validarFormulario()">Crear Oferta</button>
                                </div>
                            </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 card-container">
                        <h2 style="color: white;">Vista Previa</h2>
                        <div class="col">
                            <div class="card min-vh-60 max-vw-50 position-static">
                                <div>
                                    <img id="image-preview-container" class="card-img" src="svg/ImageIcon.svg" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 id="card_title" class="card-title">Título de Oferta</h5>
                                    <p id="card_desc" class="card-text">Descripción de Oferta</p>
                                    <p id="card_pago"><span>$</span>0</p>
                                    <hr>
                                    <div id="card-tags-preview" class="card-tags">
                                    
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">Tiempo de publicación</small>
                                    <button type="button" class="card-btn">VerMas >></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</form> 
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="js/oferta.js"></script>
<script src="js/getTag.js"></script>
<script src="js/session.js"></script>   
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>    