<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfil_dev.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <title>Mi Perfil</title>
</head>
<body>
  <!--Navbar-->
  <header class="container-fluid">
    <nav class="navbar navbar-expand-sm">
      <div class="navbar-brand"><img src="svg/Logo.svg" alt="" width="30" height="30"></div>
      <a href="catalogo.php" class="text-decoration-none">
        <div class="navbar-brand text-light">Emprendev</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#register&login"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="user_side container-fluid justify-content-end">
        <img onclick="OpenPerfilSubMenu()" class="session_user_imgProfile" class="user_img" alt="" width="40" height="40">
        <div id="user-sub-menu" class="container-submenu">
          <div class="card-user-sub-menu border-0">
            <div class="box1-card-user-sub-menu"></div>
            <div class="card-content-user-sub-menu">
              <div class="img-user-sub-menu">
                <img class="session_user_imgProfile" alt="">
              </div>
              <div class="name-sub-menu">
                <div>
                  <span class="name session_user_firstName">Nombre</span>
                  <span class="name session_user_lastName">Apellido</span>
                </div>
                <span class="proffesion session_user_role">Rol</span>
              </div>
              <div class="button-sub-menu">
                <a href="perfil_mipyme.html"><button>Ver perfil</button></a>
                <a href="terminosycondicones.html"></a><button>Terminos y condiciones</button>
                <button id="logout_btn">Cerrar sesion</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

    <!--Info-->
    <section id="Info">
        <div class="perfil-img">
            <img src="img/DEVELOPER ICON.png" alt="" width="60%" height="60%" id="user-img-perfil">
            <div  class="img-perfil-user-up">
                <form action="" class="form-bigicon">
                    <div>
                        <input type="file" name="cambio-foto-perfil" id="foto">
                        <label for="foto"><img src="svg/Editar.svg" alt="" height="80%" width="80%"></label>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <h2>Sebastian Ramirez Henao
        </h2>
        
        
        <hr>
        <div id="button-container">
            <a href=""><button id="datos-personales-btn" class="perfil-btn" onclick="ButtonDataSelected()">Datos Personales</button></a>

            <a href="editar_dev.html"><button id="descripcion-btn" class="perfil-btn">Editar</button></a> 
        </div>
        <hr>
        <br>
        <div class="text-container">
            
        </div>
    </section>
    <section class="main-content" id="descripcion-informacion">
        
        <div class="main-content-descripcion">

            <!-- Información Personal -->
            <div class="info-seccion">
                <div>
                    <h2 id="tituloinfo">Información Personal</h2>
                    <hr>
                </div>
    
                <div class="contenido-laboral">
                    <div class="info-personal-col">
                        <b>Primer Nombre:</b> <br>
                        <p>example</p>
                        <b>Segundo Nombre:</b> <br>
                        <p>example</p>
                        <b>Primer Apellido:</b> <br>
                        <p>example</p>
                        <b>Segundo Apellido:</b> <br>
                        <p>example</p>
                        <b>Tipo de Documento:</b> <br>
                        <p>example</p>
                        <b>Numero de Documento:</b> <br>
                        <p>example</p>
                    </div>
                    <div class="info-personal-col">
                        <b>Fecha de Nacimiento:</b> <br>
                        <p>example</p>
                        <b>Rol:</b> <br>
                        <p>example</p>
                        <b>Telefono:</b> <br>
                        <p>example</p>
                        <b>Direccion:</b> <br>
                        <p>example</p>
                        <b>Correo:</b> <br>
                        <p>example@gmail.com</p>
                    </div>
                </div>
            </div>
            
            <div class="info-seccion">
                <div>
                    <h2 id="tituloinfo">Descripcion del Perfil</h2>
                    <p></p>
                    <hr>
                </div>
    
                <div>
                    <div class="info-negocio"> 
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iure omnis a 
                            praesentium laboriosam assumenda. Cum velit libero laudantium aliquam, impedit illum ratione quaerat alias magni dolores, 
                            sit maiores voluptatem error vero. Dolores non, minima impedit consequatur voluptas quia quod odio rem, expedita accusantium, 
                            corporis excepturi modi cumque cum. Aperiam quos ducimus eius laudantium fuga illo nulla! Dicta culpa non laboriosam laborum ipsum, 
                            aspernatur veritatis quae, alias modi consequatur eveniet dolor, exercitationem voluptatem error dolorem rem placeat perspiciatis assumenda! 
                            Mollitia, ipsum. Ratione ipsam enim, quod dolores consectetur optio minus consequatur unde aperiam deserunt incidunt aliquam, magnam sequi natus 
                            consequuntur quia?
                        </p>
                    </div>
                </div>
            </div>

            <!-- Información del Negocio -->
            <div class="info-seccion">
                <div>
                    <h2 id="tituloinfo">Educacion</h2>
                    <hr>
                </div>

                <div class="contenido-laboral">
                    <div class="info-personal-col">
                        <b>Universidad:</b> <br>
                        <p>example</p>
                        <b>Carrera:</b> <br>
                        <p>example</p>
                        <b>Fecha Inicio:</b> <br>
                        <p>example</p>
                        <b>Fecha Fin:</b> <br>
                        <p>example</p>
                    </div>
                    <div class="info-personal-col">
                        <b>Universidad:</b> <br>
                        <p>example</p>
                        <b>Carrera:</b> <br>
                        <p>example</p>
                        <b>Fecha Inicio:</b> <br>
                        <p>example</p>
                        <b>Fecha Fin:</b> <br>
                        <p>example</p>
                    </div>
                </div>
            </div>

            <div class="info-seccion">
                <div>
                    <h2 id="tituloinfo">Experiencia Laboral</h2>
                    <hr>
                </div>

                <div>
                    <div class="info-negocio">
                        <b>Cargo:</b> <br>
                        <p>example</p>
                        <b>Empresa:</b> <br>
                        <p>example</p> 
                        <b>Fecha Inicio:</b> <br>
                        <p>example</p> 
                        <b>Fecha Fin:</b> <br>
                        <p>example</p> 
                        <b>Descripción Del Cargo:</b> <br> 
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus iure omnis a 
                            praesentium laboriosam assumenda. Cum velit libero laudantium aliquam, impedit illum ratione quaerat alias magni dolores, 
                            sit maiores voluptatem error vero. Dolores non, minima impedit consequatur voluptas quia quod odio rem, expedita accusantium, 
                            corporis excepturi modi cumque cum. Aperiam quos ducimus eius laudantium fuga illo nulla! Dicta culpa non laboriosam laborum ipsum, 
                            aspernatur veritatis quae, alias modi consequatur eveniet dolor, exercitationem voluptatem error dolorem rem placeat perspiciatis assumenda! 
                            Mollitia, ipsum. Ratione ipsam enim, quod dolores consectetur optio minus consequatur unde aperiam deserunt incidunt aliquam, magnam sequi natus 
                            consequuntur quia?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Desde aqui Inicia El apartado de datos personales en el perfil-->
    <section id="datos-personales" class="main-content">
        <div class="container mt-5">
            <form method="POST">
                <h5 class="text-center alert-secondary">Editar Usuario</h5>
                <input type="hidden" name="id_usuario">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" name="nombre">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="nombre2">Segundo Nombre:</label>
                                <input type="text" class="form-control" name="nombre2">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="apellido">Apellido:</label>
                                <input type="text" class="form-control" name="apellido">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="apellido2">Segundo Apellido:</label>
                                <input type="text" class="form-control" name="apellido2">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fec_nac">Fecha De Nacimiento:</label>
                                <input type="date" class="form-control" name="fecha_nac">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="edad">Edad:</label>
                                <input type="text" class="form-control" name="edad">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="telefono">Celular:</label>
                                <input type="text" class="form-control" name="telefono">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="direccion">Direccion:</label>
                                <input type="text" class="form-control" name="direccion">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="correo">Correo:</label>
                                <input type="email" class="form-control" name="correo">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="contrasena">Contraseña:</label>
                                <input type="password" class="form-control" name="contrasena">
                            </div>
                        </div>         
                <button type="submit" class="btn btn-primary" name="botoneditar">Editar Usuario</button>
    
            </form>
        </div>
    </section>
</body>
</html>
<script src="js/perfil_dev.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
