<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sendEmail.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <title>Emprendev | Enviar Correo</title>
</head>

<body>
    <!--Navbar-->
    <header class="container-fluid justify">
        <nav class="navbar navbar-expand-sm">
            <div class="navbar-brand"><img src="svg/Logo.svg" alt="" width="50" height="50"></div>
            <a href="index.html" class="text-decoration-none"><div class="navbar-brand text-light">Emprendev</div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#register&login" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <!--Main Screen-->
    <section class="main_screen">
        <div class="img_login"></div>
        <div class="login-box form button">
            <h2>Restablecer Contraseña</h2> 
            <form>
                <div class="user-box">
                    <input class="input" type="text" name="correo_usuario" id="correo_usuario" placeholder="Ingresa tu correo">
                </div>
                <button type="button" class="btn" onclick="sendPasswordResetRequest()">Enviar</button>
                <br><br>
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="js/mandar_correo.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
