<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/terminosycondiciones.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="svg/Logo.svg" type="image/x-icon">
    <title>Emprendev | Terminos y Condiciones</title>
</head>
<body onload="AcuerdosSelected()">
<!--Info-->
    <section id="Info">
        <h2 style="font-size: 25px;">Terminos y Condiciones</h2>
            <hr>
            <div id="button-container">
                <button id="acuerdos-btn" class="perfil-btn" onclick="AcuerdosSelected()">Acuerdos</button>
                
                <button id="definiciones-btn" class="perfil-btn" onclick="DefinicionesSelected()">Definiciones</button>
                
                <button id="informacion-btn" class="perfil-btn" onclick="InformacionSelected()">Informacion de Contacto</button>  
                
                <button id="descripcion-producto-btn" class="perfil-btn" onclick="DescripcionProductoSelected()">Descripcion del Producto</button>
                
                <button id="manejo-de-datos-btn" class="perfil-btn" onclick="ManejoDatosSelected()">Manejo de Datos Personales</button>
                
                <button id="politicas-privacidad-btn" class="perfil-btn" onclick="PoliticasPrivacidadSelected()">Politicas de Privacidad</button>
                
                <button id="condiciones-uso-btn" class="perfil-btn" onclick="CondicionesUsoSelected()">Condiciones de Uso</button>
                
                <button id="propiedad-intelectual-btn" class="perfil-btn" onclick="PropiedadIntelectualSelected()">Propiedad Intelectual</button>
                
                <button id="tarifas-pagos-btn" class="perfil-btn" onclick="TarifasPagosSelected()">Tarifas y Pagos</button>
                
                <button id="limitaciones-responsabilidad-btn" class="perfil-btn" onclick="LimitResponsabilidadSelected()">Limitaciones de Responsabilidad</button>
            
                <button id="marcas-comerciales-btn" class="perfil-btn" onclick="MarcasComercialesSelected()">Marcas Comerciales</button>
                
                <button id="derechos-autor-btn" class="perfil-btn" onclick="DerechosAutorSelected()">Derechos de Autor</button>
            </div>
            <hr>
            <div class="text-container">
                Emprendev es un software creado desde cero por un grupo de desarrolladores en compañia con la institucion SENA (Servicio Nacional De aprendizaje). Por lo cual es un proyecto limitado y en constante posibilidad de mejoras.
                <br><br>
                Nos interesa saber que preguntas, dudas, sugerencias y/o problemas puedas tener con nuestra plataforma.
            </div>
            <div class="social-svgs">
                <p>Puedes contactarnos por estos medios si llegaran a presentarse:</p>
                <img src="svg/Facebook.svg" alt="" width="15%" height="15%">
                <img src="svg/Twitter.svg" alt="" width="15%" height="15%">
                <img src="svg/Whatsapp.svg" alt="" width="15%" height="15%">
            </div>
    </section>
    <div class="content-lol">
        <h2 id="titulo-term"></h2>
    <section id="acuerdos" class="main-content">
        <hr>
        <p>hola</p>
    </section>
    <section id="definiciones" class="main-content">
        <hr>
        <p>adios</p>
    </section>
    <section id="informacion-contacto" class="main-content">
        <hr>
    </section>
    <section id="descripcion-producto" class="main-content">
        <hr>
    </section>
    <section id="manejo-de-datos" class="main-content">
        <hr>
    </section>
    <section id="politicas-privacidad" class="main-content">
        <hr>
    </section>
    <section id="condiciones-uso" class="main-content">
        <hr>
    </section>
    <section id="propiedad-intelectual" class="main-content">
        <hr>
    </section>
    <section id="tarifas-pagos" class="main-content">
        <hr>
    </section>
    <section id="limitaciones-responsabilidad" class="main-content">
        <hr>
    </section>
    <section id="marcas-comerciales" class="main-content">
        <hr>
    </section>
    <section id="derechos-autor" class="main-content">
        <hr>
    </section>
    </div>
    
</body>
</html>
<script defer src="js/animation.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/terminosycondiciones.js"></script>